<div class="aboutbody ajax">
    <a href="#" title="Shaligram Infotech AJAX | Custom Software Development Company"><img src="../images/Technology/ajax.jpg" alt="Shaligram Infotech AJAX | Custom Software Development Company"></a>
</div>
<div class="container">
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong> Ajax </strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> AJAX stands for asynchronous JavaScript and XML.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> It is a group of interrelated Web development techniques used on the client-side to create asynchronous Web applications.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> Web applications can send data to and retrieve from a server asynchronously (in the background) without interfering with the display and behaviour of the existing page with Ajax.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> The XMLHttpRequest object is used to retrieve data.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> Ajax is a mixture of a group of technologies and is not a single technology.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> To mark up and style information, the combination of HTML and CSS can be used.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> JavaScript and the XMLHttpRequest object provide a way for exchanging data asynchronously between the browser and the server to avoid full page reloads.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>PHP/Open Sources</strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> PHP is a server-side scripting language designed primarily for web development.It is also used as a general-purpose programming language.</li>
                        <br>      
                        <li><span class="fa fa-chevron-circle-right"></span> PHP frameworks are used to build websites and web applications of all sizes and complexity, ranging from small static websites to large scale complex enterprise content management systems.</li>
                        <br>    
                        <li><span class="fa fa-chevron-circle-right"></span> CMS is a computer application used to create, edit, manage, and publish content in a consistently organized fashion.</li>
                        <br>      
                        <li><span class="fa fa-chevron-circle-right"></span> E-commerce is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet. </li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <table class="table list-icon">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>HTML (or XHTML) and CSS for presentation</td>
                                <td><span class="fa fa-chevron-circle-right"></span>The Document Object Model (DOM) for dynamic display of and interaction with data</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Interchange and manipulation data</td>
                                <td><span class="fa fa-chevron-circle-right"></span>The XMLHttpRequest object</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>ASP.NET Web Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Web applications</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Enterprise Content Management</td>
                                <td><span class="fa fa-chevron-circle-right"></span> Silverlight Application Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span> Azure Application Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Software Product Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Custom Software Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Enterprise Application Development</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> </div>
   