

@*<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb" style="float:left">
                <li><a href="http://www.shaligraminfotech.com">Home</a></li>
                <li class="active">Technologies</li>
                <li class="active">AngularJS</li>
            </ol>
        </div>
    </div>
</div>*@

<div class="aboutbody">
    <a href="#" title="Shaligram Infotech AngularJS | Software Product Development Company"><img src="../images/Technology/angularjs.jpg" alt="Shaligram Infotech AngularJS | Software Product Development Company"></a>
</div>

@*<div class="aboutbody angularjs">
    <div class="bground">
        <div id="page-wrap" class="aboutpage">
            <strong>Angularjs</strong>
            <ul class="who_we_are_content">
                <li>&#9755; AngularJS is an open-source web application framework maintained by Google and by a community of individual developers and corporations.</li>
                <br>
                <li>&#9755; These individuals take care of the challenges that occur while developing single-page applications.</li>
                <br>
                <li>&#9755; The major aim of AngularJS is to simplify the jobs of the developers as well as the testers by providing a framework for client-side model-view-controller (MVC) and model-view-viewmodel (MVVM) architectures. Not only this, but it also uses components that are used in rich internet applications. Our services included Web applications, web software,API integrations.</li>
                <br>
                <li>&#9755; The AngularJS library first reads the HTML page, which has custom tag attributes embedded into it.</li>
                <br>
                <li>&#9755; The input or output parts of the page to a model is represented by standard JavaScript variables, whose values can be set within the code, or retrieved from static or dynamic JSON resources.</li>
                <br>
                <li>&#9755; AngularJS is used by very many websites and many others are considering it for the usage of their websites.</li>
            </ul>
        </div>
    </div>
</div>*@

<div class="container">
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>Angularjs</strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> AngularJS is an open-source web application framework maintained by Google and by a community of individual developers and corporations.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> These individuals take care of the challenges that occur while developing single-page applications.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> The major aim of AngularJS is to simplify the jobs of the developers as well as the testers by providing a framework for client-side model-view-controller (MVC) and model-view-viewmodel (MVVM) architectures. Not only this, but it also uses components that are used in rich internet applications. Our services included Web applications, web software,API integrations.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> The AngularJS library first reads the HTML page, which has custom tag attributes embedded into it.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> The input or output parts of the page to a model is represented by standard JavaScript variables, whose values can be set within the code, or retrieved from static or dynamic JSON resources.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> AngularJS is used by very many websites and many others are considering it for the usage of their websites.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <b></b><b>We offer the following services:</b><table class="table list-icon">
                        <tbody>
                            <tr></tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Web applications</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Mobile apps</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Web software</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Real-time applications</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;RESTful apps</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;UX for software</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Software UI</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;API integrations</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Data-rich applications</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Scalable applications</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Lightweight and robust</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Mobile responsive</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">



</div>
</div>
