<div class="row" ng-controller="ApplicationDevelopmentCtrl">
    <div class="img_pic"> <img src="~/Images/ApplicationDevelop.jpg" alt="Software Application Development" title="Application Development Company | Application Development Company USA"> </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:5%;float:left;font-weight:bold;  line-height: 1.5;color:#215da9 "> Be the Witness <br><span style="color:#f58634; font-weight: bolder">of Rich Application</span> </h2>
            <br>
            <br>
            <p class="pline">
                Demand and acceptance of the customized application development is still very high why because most of such applications are developed based on the specific user defined need. End of it, they get the most user-friendly software that any normal user with no technical knowledge will be able to use it. We offer services like On-site and application development Cloud, Enterprise Application Integration. Organizations prefer the software easy for users of all types. The meeting of the clients' requirements tells that an application is well-developed that would indirectly increase the usage of the developed application. According to us, 2 most important considerations are:
                <ul>
                    <li style="list-style-type: disc">Problem Statement by client </li>
                    <li style="list-style-type: disc">Project Vision and preferences of the client</li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div id="myTabContent" class="tab-content">
        <div class="col-sm-12 tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <table class="table table_app">
                <b><tr>We offer the following services:</tr> </b>
                <tbody>
                    <tr>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Bespoke Application Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Software Product Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Client - Server Application Development</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;On-Premise and Cloud Application Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Web Application Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;CRM Application Development</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;ERP Application Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Content Management System Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;ECommerce Application Development</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Support Ticket System Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Live Chat System Development</td>
                        <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;SAAS Based Application Development</td>
                    </tr>
                </tbody>
            </table>
            <p class="app_dev_para"> Mentioned above are some of the services offered by Shaligram Infotech. We start with planning and end with the deployment of solutions according to customer requirements, we also provide maintenance services.</p>
        </div>
        <h2>Expertise:</h2> <span>We hold expertise in:</span>
        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/microsoft-technologies')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/Opensource')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/mobile')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Other Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/others')">
            </div>
        </div>
    </div>
</div>
<br>
<br>