<div class="aboutbody">
    <a href="#" title="Shaligram Infotech Biztalk | Biztalk Server 2013 R2"><img src="~/Images/biztalk.jpg" alt="Shaligram Infotech Biztalk | Biztalk Server 2013 R2"></a>
</div>
<!-- Image Header -->
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <!--<div class="row">
        <div class="col-lg-12" >
        <h2 class="blue_heading hidden-xs hidden-sm"> Be the Witness<span class="orange_heading"><br>of Rich Application</span> </h2>   <br><br>
            <h2 class="blue_heading visible-xs visible-sm"> Be the Witness <span class="orange_heading">of Rich Application</span> </h2>

          <p class="pline">Microsoft BizTalk Server enables companies to automate business processes by the use of adapters that are tailored to communicate with different software systems used in an enterprise. This Microsoft created server provides enterprise application integration, business process automation, business-to-business communication, message broker and business activity monitoring. Initially the BizTalk server was positioned as an application server as well as an application integration server. Microsoft continues to support BizTalk for it to be an updated product especially with the cloud software becoming extremely common. BizTalk is an amazing source via which companies integrate and manage automated businesses by exchanging business documents like purchase orders and invoices between different applications, within and even across organizational boundaries.</p>
        </div>
    </div>-->
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>BizTalk</strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> Microsoft BizTalk Server enables companies to automate business processes by the use of adapters that are tailored to communicate with different software systems used in an enterprise. </li>
                        <li><span class="fa fa-chevron-circle-right"></span> This Microsoft created server provides enterprise application integration, business process automation, business-to-business communication, message broker and business activity monitoring.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> Initially the Biztalk Server 2013 R2 was positioned as an application server as well as an application integration server. Microsoft continues to support BizTalk for it to be an updated product especially with the cloud software becoming extremely common. </li>
                        <li><span class="fa fa-chevron-circle-right"></span> BizTalk is an amazing source via which companies integrate and manage automated businesses by exchanging business documents like purchase orders and invoices between different applications, within and even across organizational boundaries.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <table class="table list-icon">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Corporate solutions for financial industry to process ISO15022 file formats (MT 564, MT 568 and others).</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Online web integration of Microsoft BRE (Microsoft BizTalk Business Rule Engine).</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom port and adapter development.</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Tailor made pipeline component for error handling.</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Dynamic Message Mapping using XSLT or Map.</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Message based Re-Routing.</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SWIFT Accelerator :- Assembler and Dissembler.</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;BizTalk orchestration and MAP</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;XML, multi part and flat file schemas</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Creating and publishing policies</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> </div>