<div class="blogMainPage" style="margin-top: 2%">
    <div class="container" ng-controller="BlogPostController">
        <div class="col-sm-9">
            <div class="blogslist" ng-repeat="bloglist in BlogPostList | limitTo:limit">
                <div class="blog_banner">
                    <a href="#" title="{{bloglist.PostTitle}}">
                        <img ng-src="/BlogImages/{{bloglist.PostImagePath}}" alt="{{bloglist.PostTitle}}">
                    </a>
                </div>
                <div class="blog-text">
                    <h2>
                        <a ng-click="RedirectToBlogDetail(bloglist.PostURL)">{{bloglist.PostTitle}}</a>
                    </h2>
                    <h4>{{bloglist.PostDate | date :  "MMMM dd, y" }}</h4>
                    <div ng-class="{'MainblogContent': IsDetailPage === 0 }" ng-bind-html="toTrustedHTML(bloglist.PostContent)">
                    </div>
                </div>
                <div class="blog-footer">
                    <div class="post-meta1 post-view text-center">
                        <a ng-href="http://www.facebook.com/sharer/sharer.php?u=http://www.shaligraminfotech.com/blog/{{bloglist.PostURL}}" target="_blank"><img src="~/Images/fb.png" alt="fb"></a>
                        <a ng-href="https://plus.google.com/share?url=http://www.shaligraminfotech.com/blog/{{bloglist.PostURL}}" target="_blank"><img src="~/Images/google.png" alt="g+"></a>
                        <a ng-href="http://twitter.com/share?text=Republic-Day-Celebrations&amp;url=http://www.shaligraminfotech.com/blog/{{bloglist.PostURL}}" target="_blank"><img src="~/Images/twitter.png" alt="twt"></a>
                        <a ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.shaligraminfotech.com/blog/{{bloglist.PostURL}}" target="_blank"><img src="~/Images/linkdin.png" alt="ln"></a>
                    </div>
                    <div class="post-meta2 post-comm text-center">
                        <span>
                            <a class="comment-link" ui-sref="blog({parameter: bloglist.CategoryId})">{{bloglist.CategoryName}}</a>
                        </span>
                    </div>
                    <div class="post-meta1 post-author text-center">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <p>
                            {{bloglist.UserName}}
                        </p>
                    </div>
                    <div class="post-meta1 post-read text-center" ng-if="IsDetailPage === 0">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> <span>
                            <a style="outline: none;" ng-click="RedirectToBlogDetail(bloglist.PostURL)">READ MORE</a>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <button class="loadMore" ng-click='loadMore()' ng-if="BlogPostList.length > 0 && IsDetailPage == 0">Load More</button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="blog-catagory">
                <div class="blog-label">
                    <h2>Blog categories</h2>
                    <div class="blog-content">
                        <ul class="p-0">
                            <li ng-repeat="list in CategoryList"><a ui-sref="blog({parameter: list.CategoryId})">{{list.CategoryName}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="recent-post">
                <div class="post-label">
                    <h2>Recent Posts</h2>
                    <div class="post-content">
                        <ul class="p-0">
                            <li ng-repeat="list in RecentBlogPostList"><a ui-sref="blog({parameter: list.PostURL})">{{list.PostTitle}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none;">
            <span blog-ready></span>
        </div>
    </div>
</div>
