<div class="row">
    <div class="img_pic">
        <a href="#" title="Shaligram Infotech Career | Carrer Objective | Carreres"><img alt="Shaligram Infotech Career | Carrer Objective | Carreres" src="../images/career/career.jpg" alt="career"></a>
    </div>
</div>
<br>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div>
            <div class="space">
                <p> <strong>Shaligram Infotech</strong> has one of the best working environments that a lot of tech people desire to work in. Many of them want to work with us and many would support the above lines, who are already working here to make career. A peaceful place is a must for anybody to work well where they meet their targets, leave the clients satisfied and bring in more and more work due to the progress that they show on each and every tasks for career objective that they undertake. We at, <strong>Shaligram Infotech</strong> have it all! </p>
            </div>
        </div>
        <div>
            <div class="space">
                <p>If you want to take your career to a high and progress in your field, then apply at <strong><a href="mailto:career@shaligraminfotech.com">career@shaligraminfotech.com</a></strong> now! </p>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="container">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="service-one">
                <h2>Current Job Openings:</h2>
                <div class=".table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><strong>Position</strong></th>
                                <th><strong>Experience</strong></th>
                                <th style="text-align:center"><strong>Openings</strong></th>
                                <th style="text-align:center"><strong>Location</strong></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Fresher Asp.net </td>
                                <td>Fresher</td>
                                <td class="center">5</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="" ui-sref="fresher-asp-net" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>
                            <!--                                    <tr>
                                <td>
                                    Junior Android Developer
                                </td>
                                <td>1+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/jr-android-developer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>-->
                            @*<tr>
                                <td> Junior iOS Developer </td>
                                <td>1 to 2 Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/jr-ios-developer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>*@
                            <!--                                    <tr>
                                <td>
                                    Junior Web Designer
                                </td>
                                <td>1+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/jr-web-designer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>-->
                            <tr>
                                <td> Fresher Business Development Executive </td>
                                <td>Fresher</td>
                                <td class="center">2</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="" ui-sref="fresher-business-development-executive" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>
                            <tr>
                                <td> Experience Business Development Executive </td>
                                <td>1+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="" ui-sref="jr-business-development-executive" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>
                            <tr>
                                <td> Senior Business Development Executive </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="" ui-sref="sr-business-development-executive" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>
                            @*<tr>
                                <td> Fresher SEO Analyst </td>
                                <td>Fresher</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/fresher-seo-analyst.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>
                            <tr>
                                <td> Junior SEO Analyst </td>
                                <td>1+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/jr-seo-analyst.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>*@
                            @*<tr>
                                <td> Senior SEO Analyst </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/sr-seo-analyst.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>*@
                            <tr>
                                <td> Senior Java Developer </td>
                                <td>2+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/sr-java-developer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>
                            <!--                                    <tr >
                                <td>
                                    Senior Android Developer
                                </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/sr-android-developer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>-->
                            <!--                                    <tr >
                                <td>
                                    Senior iOS Developer
                                </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/sr-ios-developer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>-->
                            <!--                                    <tr >
                                <td>
                                    Senior Web Designer
                                </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/sr-web-designer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>
                            <tr >
                                <td>
                                    Senior BizTalk Developer
                                </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/sr-biztalk-developer.php" role="button" class="btn-sm btn-primary">Details</a></td>
                            </tr>-->
                            <tr>
                                <td> Senior SharePoint Developer </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="" ui-sref="sr-sharepoint-developer" role="button" class="btn-sm btn-primary ">Details</a></td>
                            </tr>
                            <!--                                    <tr>
                                <td>
                                    Senior Dynamic CRM Developer
                                </td>
                                <td>3+ Years</td>
                                <td class="center">1</td>
                                <td class="center">Ahmedabad</td>
                                <td class="center"><a href="../careers/sr-dynamic-crm-developer.php" role="button" class="btn-sm btn-primary ">Details</a></td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>