<div class="row">
    <div class="img_pic"> <img src="../images/Services-banner/cloud-service.jpg" alt="Cloud Service Provider In India | Cloud Service Provider In USA" title="Cloud Service Provider In India | Cloud Service Provider In USA"> </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:5%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 "> Cloud<br><span style="color:#f58634; font-weight: bolder">Services</span> </h2>
            <br>
            <br>
            <p class="pline">In today's fast-paced global business scenario, organizations can easily access, scalable and cost-effective software solutions. This function is performed with the inherent characteristics of cloud technology, like on-demand, speed, agility, scalability, responsiveness and above all, cost-effectiveness.</p>

            <p class="pline">Organizations are willing to leverage these benefits of cloud computing but are not sure how to do so. At Shaligram Infotech, we offer our expertise and years of experience to deliver the best possible Cloud based solutions on clients' requirements and long-term business goals. We have successfully delivered SaaS based ERP and other products, using cloud platform. We provide solutions on Microsoft Azure, Amazon Web Services (AWS), Office365, and others. We also offer Salesforce Customization & Integration Services.</p>
        </div>


    </div>


</div>
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <!--  <b>We offer the following services:</b>   -->
            <p>With our expertise and years of experience, we offer the below Cloud Services:</p>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Cloud Advisory Services</li>
                <p>Our cloud technology experts carry out an in-depth analysis of your existing IT infrastructure and business requirements and advises on the cloud strategies, roadmap, and selection of the right platform.</p>
            </ul>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Cloud Application Development Services</li>
                <p>We have expertise in developing and deploying cloud applications using industry standard tools and technologies, with other on-premise or cloud applications.</p>
            </ul>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Cloud Integration Services</li>
                <p>We have expertise in integrating applications for scenarios like on-premise to cloud, cloud to on-premise, and cloud to cloud.</p>
            </ul>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Cloud Migration and Implementation Services</li>
                <p>Our cloud migration and implementation services include creating private clouds, migration to public clouds, SaaS Enablement, and implementation on PaaS / IaaS.</p>
            </ul>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Cloud Management Services</li>
                <p>Utilizing our mission-critical applications on cloud ecosystem.</p>
            </ul>

        </div>
    </div>

    <h2>Expertise:</h2> <span>We hold expertise in:</span>
    <div class="tech-list">


        <div class="tech-list">

            <?php

            $techname ="services/cloud-services/";
            $techurl = "../images/services/cloud-services/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>


    </div>
</div>

<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Experience</h2>

            <p>We have successfully delivered cloud based solutions across multiple domains like:</p>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Oil & Gas, Mining</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Energy & Utilities</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Shipping, Transportation & Logistics</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Retail</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Healthcare</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Travel & Hospitality</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>BFSI </li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Media & Entertainment</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Sports</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Education</li>
            </ul>
        </div>
    </div>

</div>

<br>
<br>