<div ng-controller="ContactUsController">


    <section class="section1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="box">
                        <img alt="flag india" src="/images/flags/india1.png" title="India">
                        <h4>India</h4>
                        <p>Shaligram House, Behind Rajpath Club,<br>Off. S.G. Road, Bodakdev,<br>Ahmedabad-380059, India</p>
                        <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+91-9727212899">+91-9727212899</a></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="box">
                        <img alt="flag uk" src="/images/flags/uk.png" title="UK">
                        <h4>UK</h4>
                        <p>100, College Road, Harrow,<br>London, HA1 1BQ,<br>United Kingdom</p>
                        <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+44 20 3581 6366">+44 20 3581 6366</a></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="box">
                        <img alt="flag USA" src="/images/flags/us.png" title="USA">
                        <h4>USA</h4>
                        <p>14793 Pensham Drive,<br>Frisco TX 75035, USA</p>
                        <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+1-210-888-8402">+1-210-888-8402</a><br><strong><i class="fa fa-fax"></i> :</strong> 844-255-9976</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="box">
                        <img alt="flag australia" src="/images/flags/australia.png" title="Australia">
                        <h4>Australia</h4>
                        <p>Level 36, 71 Eagle Street,<br>Brisbane, QLD 4000</p>
                        <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+61 07 3121 3147">+61 07 3121 3147</a><br><strong><i class="fa fa-phone"></i> :</strong> +61 0422 019 223</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="section3">
        <img src="/images/map3.jpg" alt="shaligram-map" title="shaligram infotech" class="img-responsive">
        @*<div id="map-canvas"></div>*@
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFd9dzUQMU1UuwNsSIMTpEyeEth0SDk-4"></script>
        <script type="text/javascript">
            function init_map() {
                var myOptions = {
                    zoom: 18,
                    scrollwheel: false,
                    center: new google.maps.LatLng(23.037801, 72.5056423),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,

                };
                map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

                marker = new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng(23.037801, 72.5056423)
                });
                infowindow = new google.maps.InfoWindow({ content: "<b><b>Shaligram House,</b><br/>Behind Rajpath Club Offside S.G. Highway, Bodakdev, Bodakdev, Ahmedabad, Gujarat 380059" }); google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); });
            }
            google.maps.event.addDomListener(window, 'load', init_map);

        </script>

    </section>


    <section class="cover-background section2" style="background-image:url('../Images/cont.jpg');">
        <div class="opacity-full"></div>
        <div class="container">
            <div class="title text-center">
                <h4>Send Us a Message</h4>
            </div>

            <form class="form-horizontal" name="ContactUsForm" novalidate>
                @*<div role="tabpanel" class="form-horizontal" id="messages">
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="(ContactUsForm.$submitted && (!ContactUsForm.$valid))">
                        <ul ng-show="validationErrors">
                            <li ng-repeat="error in validationErrors">{{error}}</li>
                        </ul>
                        <ul ng-show="ContactUsForm.$submitted && (!ContactUsForm.$valid)">
                            <li ng-show="ContactUsForm.FullName.$error.required">Name is required.</li>
                            <li ng-show="ContactUsForm.EmailAddress.$error.required">Email Address is required.</li>
                            <li ng-show="ContactUsForm.EmailAddress.$error.email">Please enter valid email address.</li>
                            <li ng-show="!ContactUsForm.PhoneNumber.$valid">Please enter valid phone number.</li>
                            <li ng-show="ContactUsForm.Company.$error.required">Company is required.</li>
                            <li ng-show="ContactUsForm.Message.$error.required">Message is required.</li>
                            <li ng-show="googleRecaptchaValidationMessage">Please fill Captcha.</li>
                        </ul>
                    </div>
                </div>*@




                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <input placeholder="Full Name" type="text" ng-model="ContactUs.Name" name="FullName"
                        class="form-control" ng-class="{'required-error' : (ContactUsForm.$submitted && (!ContactUsForm.$valid) && ContactUsForm.FullName.$error.required)}" required />

                        <input placeholder="Phone Number" type="number" ng-model="ContactUs.PhoneNumber" ng-maxlength="10" name="PhoneNumber" class="form-control" 
                             />

                        <input placeholder="Email Address" type="email" ng-model="ContactUs.EmailAddress" name="EmailAddress" 
                               class="form-control" ng-class="{'required-error' : (ContactUsForm.$submitted && (!ContactUsForm.$valid) && ContactUsForm.EmailAddress.$error.required)}" required />

                        <input placeholder="City" type="text" ng-model="ContactUs.City" name="City" 
                               class="form-control" />

                        <input placeholder="Company" type="text" ng-model="ContactUs.Company" name="Company" 
                               class="form-control" />
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <textarea placeholder="Message" cols="100" ng-model="ContactUs.Message" class="form-control" id="message" name="Message" 
                                  ng-class="{'required-error' : (ContactUsForm.$submitted && (!ContactUsForm.$valid) && ContactUsForm.Message.$error.required)}" 
                                  required></textarea>
                        <p>
                            <span>Attach File :</span>
                            <input class="form-control" type="file" upload-files multiple />
                        </p>
                        <p>
                            <span ng-class="{'span-error' : (ContactUsForm.$submitted && (!ContactUsForm.$valid) && googleRecaptchaValidationMessage)}">Please fill Captcha</span>
                            <div vc-recaptcha key="'6LdSvz8UAAAAAKygptbKgD3R3Y4UmDupZtn-nzk6'"></div>
                        </p>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn1" name='submit' id='submit' ng-click="SaveContactUsDetails(ContactUsForm)">Send Message</button>
                        <button type="reset" class="btn btn2">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<style>
    .span-error
    {
        color:#ff0000 !important;
    }
</style>