<div class="row">
    <div class="img_pic">
        <img src="../images/Solutions/banner1.1.jpg" alt="crm solution" title="CRM Solutions Provider | CRM Solutions Provider UK">
    </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">

            <br><br>
            <p style="text-align: justify;"> Modern business environment is more dependent on customer relationship management (CRM) whether being a part of their ERP or as a separate business software. For every small businesses or large enterprises, maximum amount of time, effort and resource utilization is done for retaining their existing customers as well as adding new customers in their business. Call of the day is for having a good CRM application with required - customized work flow. Our sales-force excel in providing Vtiger, Sugar CRM, Sales Force and many more so as to provide you CRM solution specific to your requirement and budget.</p>

        </div>
    </div>
</div>

<!-- Image Header -->
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <!-- Service Tabs -->
    <div class="row">

        <div class="col-lg-12">



            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Features</h2>

                    <div class="col-md-4">


                        <div>
                            <ul class="benifit_list">


                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Email Marketing                 </li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Project Management              </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;        Customer Portal                 </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Calendar and Task Management   </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;   Reporting                          </li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">


                        <div>
                            <ul class="benifit_list">



                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;   Document and File Management       </li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;    Teams & Access Control             </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;   Inventory Management               </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;   Integrations and Extensions        </li>

                            </ul>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Screenshots</h2>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Build3.png">
                <img src="../images/Solutions/Build3.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Calendar.png">
                <img src="../images/Solutions/Calendar.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Documents.png">
                <img src="../images/Solutions/Documents.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/PivotReport1.png">
                <img src="../images/Solutions/PivotReport1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>

    </div>




</div>
