<div class="row">
    <div class="aboutbody develpoment_process">
        <a href="#" title="Embedded Software Development Company UK"><img src="../images/Process/banner-process.jpg" alt="Embedded Software Development Company UK"></a>
    </div>
</div>
<div class="container">
    <h2>Development process and practices by us</h2>
    <div class="col-sm-12">
        <div class="bground">
            <div id="page-wrap" class="aboutpage">
                <strong> Development Process </strong>
                <ul class="who_we_are_content">
                    <li><span class="fa fa-chevron-circle-right"></span> Our focus is always on achieving the best in class UX and we firmly believe that satisfactory client / user experience can improve the levels of engagement.</li>
                    <li><span class="fa fa-chevron-circle-right"></span> According to us, this is the key performance indicator for a software company.</li>
                    <li><span class="fa fa-chevron-circle-right"></span> Our agile project management practices will ensure earlyrecognition of the project purpose and value.</li>
                    <li><span class="fa fa-chevron-circle-right"></span> Our project team will ensure that each iteration is taken care of. Our business analyst and techno - functional consultants will act as bridge between you and the development team and pay attention to all your considerations and changes during development phase. Regular - structured meetings between your small - empowerder team and our development team during SDLC and focus on outcome will ensure the project success.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6" style="margin-top:40px;">
            <ul class="img-gal">
                <li> <img alt="Agile Development Model" title="Agile Development Model | Embedded Software Development" src="../images/Process/final_agile_development.png"> </li>
            </ul>
        </div>
        <div class="col-md-6" style="margin-top:40px;">
            <ul class="img-gal">
                <li> <img alt="Agile and Waterfall development" title="Agile and Waterfall development | Embedded Software Development company USA" src="../images/Process/final-waterfall.png"> </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-12">
        <div class="col-md-6" style="margin-top:40px;">
            <ul class="img-gal">
                <li> <img alt="Agile and Waterfall development" title="Agile and Waterfall development | Embedded Software Development company UK" src="../images/Process/final_waterfall_model1.png"> </li>
            </ul>
        </div>
        <div class="col-md-6" style="margin-top:40px;">
            <ul class="img-gal">
                <li> <img alt="Agile and Waterfall development" title="Agile and Waterfall development" src="../images/Process/Waterfall.png"> </li>
            </ul>
        </div>
    </div>
    <h2 class="para1">Scrum - Agile approach </h2>
    <p class="para1" style=" text-align: justify">The Scrum - Agile development process is usually suggested for the kind of projects (mostly product development) with rapidly changing requirements during SDLC. Rather than providing complete, detailed descriptions of how everything needs to be done on a project, considerable parts are left up to the Scrum software development team. Scrum software development moves forward with the series of iterations that we call as sprints. Scrum Master will have the key role to play as a coach to the Scrum Development Team. </p>
    <br />
    <ul class="scrum">
        <li> <img alt="Embedded Software Development Company UK" src="../images/Process/scrum.png"> </li>
    </ul>
</div>
<br>
<br>