<div class="row">
    <div class="img_pic"> <img src="../images/Domain/photo3.jpg" alt="app development" title="Civil And Construction Software Development | Healthcare Software Development Company"> </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:5%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 "> All Solutions at <br><span style="color:#f58634; font-weight: bolder">One Place</span> </h2>
            <br>
            <br>
            <p class="pline">Shaligram Infotech service offerings has wide range of industries knowledge and experience in developing customized technical solutions using variability in terms of using modern tools and technologies. Our approach to customized solution development starts with efficiently recognizing the application purpose and business benefit for the client.</p>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="container">
    <div class="container">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="service-one">
                <h2>Domain Expertise:</h2>
                <!--  <b>We offer the following services:</b>   -->
                <hr>
                <!-- /.row -->
                <!-- Projects Row -->
                <div class="row">
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/1.jpg" alt="Civil And Construction Software Development" title="Civil And Construction Software Development">
                        <h3>
                            <p>Civil & Construction</p>
                        </h3>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/media.jpg" alt="media and entertainment" title="Media and Entertainment">
                        <h3>
                            <p>Media and Entertainment</p>
                        </h3>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/finance.jpg" alt="Finance And Accounting Software Development" title="Finance And Accounting Software Development">
                        <h3>
                            <p>Finance & Accounting</p>
                        </h3>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Projects Row -->
                <div class="row">
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/health_care.png" alt="Healthcare Software Development Company" title="Healthcare Software Development Company">
                        <h3>
                            <p>Healthcare Domain</p>
                        </h3>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/e_learning.jpg" alt="E-Learning Software Development" title="E-Learning Software Development">
                        <h3>
                            <p>E-Learning </p>
                        </h3>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/property_management.jpg" alt="Real Estate Software Development Company" title="Real Estate Software Development Company">
                        <h3>
                            <p>Real Estate</p>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/leagal.jpg" alt="Legal" title="Legal">
                        <h3>
                            <p>Legal</p>
                        </h3>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <img class="img-responsive res" src="../images/Domain/transportaion.jpg" alt="Transportation and Logistics" title="Transportation and Logistics">
                        <h3>
                            <p>Transportation and Logistics</p>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>