<div class="row">
    <div class="img_pic">
        <img src="../images/Solutions/E-commerce-slide.jpg" alt="ecommerce solution" title="Ecommerce Solution Provider USA | Ecommerce Payment Solutions UK">
    </div>
</div>

<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">

            <br><br>
            <p style="text-align: justify;">Creating e-commerce solutions using Magento, Woocommerce, Prestashop and many other platforms have become a core strength of Shaligram Infotech. We have achieved this by years of experience in developing and delivering solutions to many clients across more than 20 countries by our team. Simply ask for free POC and experience of Ecommerce Solution Providing services. </p>

        </div>
    </div>
</div>
<!-- Image Header -->
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <!-- <div class="row">
         <div class="col-lg-12" >

          <br>
          <h2 class="blue_heading hidden-xs hidden-sm">E-Commerce<br><span class="orange_heading">Solution</span> </h2>   <br><br>
              <h2 class="blue_heading visible-xs visible-sm"> E-Commerce <span class="orange_heading">Solution</span> </h2>
             <p class="pline">Creating e-commerce solutions using Magento, Woocommerce, Prestashop and many other platforms have become a core strength of Shaligram Infotech. This has been achieved by years of experience in developing and delivering solutions to many clients across more than 20 countries by our team. Simply ask for free POC and experience our services.</p>


         </div>



     </div>-->
    <!-- Service Tabs -->
    <div class="row">

        <div class="col-lg-12">



            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Features</h2>

                    <div class="col-md-4">


                        <div>
                            <ul class="benifit_list">


                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Analytics and Reporting     </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Product Browsing            </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Catalog Browsing            </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Catalog Management          </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Customer Accounts           </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Order Management            </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Payment                     </li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">


                        <div>
                            <ul class="list2">



                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Shipping                         </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Checkout                         </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Search Engine Optimization       </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  International Support            </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Marketing Promotions and Tools   </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Site Management                  </li>

                            </ul>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Screenshots</h2>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_login.png">
                <img src="../images/Solutions/ecommerce_login.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cate.png">
                <img src="../images/Solutions/ecommerce_cate.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cate1.png">
                <img src="../images/Solutions/ecommerce_cate1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cart1.png">
                <img src="../images/Solutions/ecommerce_cart1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cart.png">
                <img src="../images/Solutions/ecommerce_cart.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_home.png">
                <img src="../images/Solutions/ecommerce_home.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_list.png">
                <img src="../images/Solutions/ecommerce_list.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_list1.png">
                <img src="../images/Solutions/ecommerce_list1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_listing.png">
                <img src="../images/Solutions/ecommerce_listing.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_listing1.png">
                <img src="../images/Solutions/ecommerce_listing1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_product.png">
                <img src="../images/Solutions/ecommerce_product.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>

    </div>



</div>