<div class="row">
    <div class="img_pic">
        <img src="../images/Solutions/bg-2.jpg" alt="app development" title="Enterprise Content Management Development Company | Enterprise Content Management Development Company USA">
    </div>
</div>

<div class="container">

    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Features</h2>

                    <div class="col-md-4">


                        <div>
                            <ul class="benifit_list">


                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Email Marketing     </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Project Management            </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Customer Portal            </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Calendar and Task Management          </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Reporting          </li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">


                        <div>
                            <ul class="benifit_list">



                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Document and File Management                         </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Teams &amp; Access Control                         </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;  Inventory Management       </li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; Integrations and Extensions            </li>


                            </ul>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive img" src="../images/Solutions/ECM.png" alt="ecm" title="Enterprise Content Management Development Company">
        </div>
    </div>



    <br><br>
</div>