<div ng-controller="PortfolioController">
    <div ng-repeat="pl in PorfolioList" class="isotope-element isotope-element-3">
        <div class="project-field">
            <div class="logo-img">
                <a ng-click="RedirectToProtfolioDetail(pl.TitleSeoUrl)">
                    <img title="{{pl.Title}}" ng-src="/PortfolioImages/FrontPageImages/{{pl.FrontPageImageURL}}" alt="{{pl.Title}}" />
                </a>
            </div>
            <div class="detail-wrapper">
                <h4><span ng-bind="pl.Title"></span> </h4>
            </div>
        </div>
    </div>
</div>
