<div class="aboutbody">
    <a href="#" title="Big Data Application Development"><img src="../images/Technology/hadoop.jpg" alt="Big Data Application Development"></a>
</div>
<div class="container">
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong> Big Data </strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> Big Data is not just about velocity, volume, veracity and variety. It is about how you identify the right information from data that is growing exponentially, and use it to add business value.</li>
                    </ul>
                </div>
                <div id="page-wrap" class="aboutpage">
                    <strong> Hadoop </strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> Apache Hadoop is an open source project that offers a new way to store and process big data. Hadoop is a framework for storing, analysing and accessing large amount of data, quickly and cost effectively through clusters of commodity hardware. Web 2.0 companies such as Google and Facebook use Hadoop to store and manage their huge data sets.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> Hadoop is capable of computing on single server to thousands of machines and provides a low cost, but then dependable solution to tackle data management problems.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> Hadoop ecosystem includes: Hadoop, MapReduce, HDFS, HBase, Zookeeper, Hive, Pig, Sqoop, Cassandra, Oozie, Flume, Spark.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Application:</h2>
                    <table class="table list-icon">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Load large sets of structured, semi-structured and unstructured data coming from UNIX, NoSQL and a variety of portfolios</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Reports for the BI </td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>MapReduce jobs for data cleaning and pre-processing.</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Data visualization</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Big Data Management</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Big Data Analytics</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Data architecture including data ingestion pipeline design</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Data modelling and data mining</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Machine learning and advanced data processing,</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Optimizing ETL workflows</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Real time queries over Big Data</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Data Stream Processing</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Data Serialization</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Data Analytics</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Areas of Expertise:</h2>
                    <table class="table list-icon">
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Real-time analytic: Spark</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Processing: MapReduce </td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Query-Engine : Hive, Impala</td>
                                <td><span class="fa fa-chevron-circle-right"></span>ETL: Pig</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Resource Manager: YARN, Mesos</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Big Data Analytics</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>Distribution: CLoudera, HortonWorks, Apache</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Data Integration: Flume, Sqoop</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>NO-SQL: Hbase, MongoDB</td>
                                <td><span class="fa fa-chevron-circle-right"></span>Security: Ranger, Sentry, Kerberos</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>WorkFlow: OOZIE</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="related_post" style="float: left; width: 100%;">
                <h2>Portfolio :</h2>
                <div class="port_content">
                    <div id="isotope-container" class="isotope">
                        @*<?php  include("../portfolio/php/hadoop-t.php"); ?>*@
                        <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row"> </div>