<div class="row">
    <div class="img_pic">
        <img src="../images/Services-banner/hire-resources.jpg" alt="Hire Resources" title="Hire ASP.Net resource | Hire WPF resource">
    </div>
</div>

<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:3%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 ">Because Working <br>Together <br><span style="color:#f58634; font-weight: bolder">is Success</span> </h2>   <br><br>

            <p class="pline">If you are a software company and wish to hire a team or a dedicated developer on full time basis, Shaligram can offer you a choice of senior and junior developers as per your required technical skills and experience. They will work directly under your project manager/s on offshore basis and will report to you as per your reporting criteria. Apart from cost benefit of offshore resource hiring, you also get highly skilled techno functional resources to ensure your project success. Our resource hiring model is flexible and you can scale up or scale down your offshore resources as per your project requirement.  </p>
            <ul>
                <li style=" list-style-type: disc">Hire SharePoint resource</li>
                <li style=" list-style-type: disc">Hire asp.net resource</li>
                <li style=" list-style-type: disc">Hire iOS resource</li>
            </ul>

        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="tab-pane fade active in" id="service-one">
        <div class="country-buttons">
            <div class="col-sm-8 col-sm-offset-4">
                <div class="btn-countries">
                    <p class=""><img class="alignnone size-full" src="../images/uk-flag.jpg" alt="uk-flag" width="35" height="26"><a href="/pricing-comparison-uk" ui-sref="pricing-comparison-uk">Price Comparison UK </a></p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <div class="btn-countries">
                    <p class=""><img class="alignnone size-full" src="../images/aus-flag.jpg" alt="aus-flag" width="35" height="26"><a href="/pricing-comparison-aus" ui-sref="pricing-comparison-aus">Price Comparison AU </a></p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <div class="btn-countries">
                    <p class=""><img class="alignnone size-full" src="../images/us-flag.jpg" alt="us-flag" width="35" height="26"><a href="/pricing-comparison-us" ui-sref="pricing-comparison-us">Price Comparison USA </a></p>
                </div>
            </div>
        </div>


        <h2>Services:</h2>
        <table class="table list-icon">
            <tbody>
                <tr>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; ASP.Net resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; PHP resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; iOS resource</td>
                <tr>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; Android resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; JAVA resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; SharePoint resource</td>
                </tr>                                                               
                <tr>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; BizTalk resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; WCF resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; Alfresco resource</td>
                </tr>                                                               
                <tr>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; Liferay resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; HTML5 resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; jQeury/AJAX resource</td>
                </tr>                                                              
                <tr>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; VB.Net resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; C#.Net resource</td>
                    <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp; WPF resource</td>
                </tr>



            </tbody>
        </table>

        <h2>Expertise:</h2>
        <span>We hold expertise in:</span>
        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/microsoft-technologies')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/Opensource')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/mobile')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Other Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/others')">
            </div>
        </div>
    </div>
</div> <br><br>