<div class="row">
    <div class="img_pic">
        <img src="../images/Solutions/hr-hinds-human-resources-keyboard.jpg" alt="app development" title="HR And Job Portal Solution | HR And Job Portal Solution USA">
    </div>
</div>

<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">

            <br><br>
            <p style="text-align: justify;">Human resources are the backbone of any endeavour. The team in the human resources management is not seen in the forefront, but by even sitting in the back-seat, they run the whole show and outshine a company. The ups and downs are managed and taken care of by this silent team, who provides solutions for all problems that erupt in an organization. The human resource at Shaligram Infotech is known for their fantastic work; ranging from the management of job portals to finding appropriate resources to the organized way by which an organization keeps on functioning and gain success speedily! </p>

        </div>
    </div>
</div>            <div class="container">
    <div class="col-lg-12">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="service-one">
                <h2>Features</h2>

                <div class="col-md-6">


                    <div>
                        <ul class="benifit_list">


                            <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Improve ability to appoint highly-skilled talent                 </li>
                            <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;         Search Candidate              </li>
                            <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;        Email notification alerts                 </li>
                            <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;        Provides an administrative interface to handle candidate applications. </li>
                            <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;       Candidate Management Module     </li>
                            <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;       Streamline the selection process     </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">



    <div class="row">
        <div class="col-lg-12">
            <h2>Photos</h2>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
            <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/AddCandidate.png">
                <img src="../images/Solutions/AddCandidate.png" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
            <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/CandidateList.png">
                <img src="../images/Solutions/CandidateList.png" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Interview schedule.png">
                <img src="../images/Solutions/Interview schedule.png" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/PeopleAndGroup.png">
                <img src="../images/Solutions/PeopleAndGroup.png" class="thumbnail img-responsive">
            </a>
        </div>





    </div>




</div>