
<div class="aboutbody">
    <a href="#" title="Shaligram Infotech HTML5 | Silverlight Application Development Company"><img src="../images/Technology/html.jpg" alt="Shaligram Infotech HTML5 | Silverlight Application Development Company"></a>
</div>
<!-- /.row -->
<div class="container">
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>Html5</strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> HTML5 is a core technology, markup language of the Internet used for structuring and presenting content for the World Wide Web.</li>
                        <br>     
                        <li><span class="fa fa-chevron-circle-right"></span> Its major aims are to improve the language with the aid of the latest multimedia, side-by-side keeping the language simple enough to be understood by humans as well as computers.</li>
                        <br>     
                        <li><span class="fa fa-chevron-circle-right"></span> HTML5 subsumes HTML 4, XHTML 1 and DOM Level 2 HTML.</li>
                        <br>     
                        <li><span class="fa fa-chevron-circle-right"></span> HTML5 is a response to HTML and XHTML’s common use on the World Wide Web.</li>
                        <br>     
                        <li><span class="fa fa-chevron-circle-right"></span> It is a mixture of features that introduces various specifications, which are most introduced by software products such as web browsers.</li>
                        <br>     
                        <li><span class="fa fa-chevron-circle-right"></span> It includes detailed processing models for more interoperable implementations, that extends, improves and rationalizes the markup available for documents and it also introduces markup and application program interfaces (APIs) for complex web applications.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <table class="table list-icon">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;HTML (or XHTML) and CSS for presentation</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;The Document Object Model (DOM) for dynamic display of and interaction with data</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Interchange and manipulation data</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;The XMLHttpRequest object</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;ASP.NET Web Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Web applications</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Enterprise Content Management</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Silverlight Application Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Azure Application Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Software Product Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom Software Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Enterprise Application Development</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> </div>