<div class="row">
    <div class="img_pic"> <a href="#" title="Software Development Company | Software Development Company USA | Software Development Company UK"><img src="../images/Shaligram-4.jpg" alt="Software Development Company | Software Development Company USA | Software Development Company UK"> </a></div>
</div>
<br>
<!-- Page Content -->
<div class="container">
    <!-- Features Section -->
    <div class="row">
        <div class="col-md-6">
            <p><strong>Shaligram Infotech</strong> has a stable infrastructure for smooth operations for development environment and internal/external communication. The following are a few features of our setup:</p>
            <ul class="infracture_detail">
                <li><span class="fa fa-chevron-circle-right"></span>5 MBPS leased lines</li>
                <li><span class="fa fa-chevron-circle-right"></span>100/1000 MBPS Layer 2-switched intranet</li>
                <li><span class="fa fa-chevron-circle-right"></span>High grade machines for the engineers - Quad-Core Intel<sup>&reg;</sup> i5<sup>&reg;</sup> processor 3.16 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GHz, 12 GB RAM</li>
                <li><span class="fa fa-chevron-circle-right"></span>High grade server with – four Quad-Core Intel<sup>&reg;</sup> Xeon<sup>&reg;</sup> processor 3.16 GHz, and 64 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GB RAM</li>
                <li><span class="fa fa-chevron-circle-right"></span>Shared UPS for all team and centralized UPS for servers.</li>
                <li><span class="fa fa-chevron-circle-right"></span>Backup for the whole facility with automatic line interactive switchover</li>
                <li><span class="fa fa-chevron-circle-right"></span>Up to 5 test machines and approximately 50 user machines, all equipped with OS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;combinations needed for testing apart from individual testing machines.</li>
                <li><span class="fa fa-chevron-circle-right"></span>Several UNIX/Linux boxes, Windows operating systems and a few Macintosh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;machines form part of our test lab.</li>
                <li><span class="fa fa-chevron-circle-right"></span>Video Conferencing facilities.</li>
            </ul>
        </div>
        <div class="col-md-6 image"> <img class="img-responsive" src="../images/_shaligram-building.jpg" alt="Shaligram" title="Shaligram Building"> </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Photos</h2>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/_shaligram-building.jpg"> <img src="../images/big/_shaligram-building.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/conference-room.jpg"> <img src="../images/big/conference-room.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <!--                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
                            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/development-area.jpg"> <img src="../images/big/development-area.jpg" class="thumbnail img-responsive"> </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
                            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/director-chamber.jpg"> <img src="../images/big/director-chamber.jpg" class="thumbnail img-responsive"> </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
                            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/reception.jpg"> <img src="../images/big/reception.jpg" class="thumbnail img-responsive"> </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
                            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/meeting-room1.jpg"> <img src="../images/big/meeting-room1.jpg" class="thumbnail img-responsive"> </a>
                        </div>-->
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-10.jpg"> <img src="../images/big/Untitled-10.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-1.jpg"> <img src="../images/big/Untitled-1.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-2.jpg"> <img src="../images/big/Untitled-2.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-3.jpg"> <img src="../images/big/Untitled-3.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-4.jpg"> <img src="../images/big/Untitled-4.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-5.jpg"> <img src="../images/big/Untitled-5.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-6.jpg"> <img src="../images/big/Untitled-6.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-7.jpg"> <img src="../images/big/Untitled-7.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-8.jpg"> <img src="../images/big/Untitled-8.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-9.jpg"> <img src="../images/big/Untitled-9.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-11.jpg"> <img src="../images/big/Untitled-11.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-12.jpg"> <img src="../images/big/Untitled-12.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-13.jpg"> <img src="../images/big/Untitled-13.jpg" class="thumbnail img-responsive"> </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 pic">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/big/Untitled-14.jpg"> <img src="../images/big/Untitled-14.jpg" class="thumbnail img-responsive"> </a>
        </div>

    </div>
    <!-- /.row -->
    <hr>
</div>
<section class="main-heading new" id="query">
    <div class="container">
        <h3>
            <span>Choose Shaligram Infotech as your development partner</span>&nbsp;&nbsp;
            <a href="#myModal" data-toggle="modal" class="btn"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
        </h3>
    </div>
    <div class="container">
        <div>
            <div class="btnew"> </div>
            <div class="row">
                <!-- Modal -->
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h2 class="modal-title">Contact Us</h2>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" name="commentform" method="post" action="../send_form_email.php">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="full_name">Full Name</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="name" name="name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="ph_no">Phone Number</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="phone" name="phone" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="email">Email Address</label>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" id="email" name="email" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="company">Company</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="company" name="company" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="message">Message</label>
                                        <div class="col-md-6">
                                            <textarea rows="6" class="form-control" id="message" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <button type="submit" value="Submit" name="submit" class="btn btn-primary" id="submit" style="background-color: #f58634">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End of Modal body -->
                        </div>
                        <!-- End of Modal content -->
                    </div>
                    <!-- End of Modal dialog -->
                </div>
                <!-- End of Modal -->
            </div>
            <!-- End of row -->
        </div>
    </div>
    <!-- End of well -->
</section>
<br>
<br>