<body>
    <div class="aboutbody">
        <a href="#" title="Shaligram Infotech Java | Java Web Development"><img src="~/Images/java.jpg" alt=""></a>
    </div>
    <!-- Image Header -->
    <!-- /.row -->
    <div class="container">
        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <!--<div class="row">
            <div class="col-lg-12" >
            <div class="head1">
            <div class="java_head"><h2 class="blue_heading hidden-xs hidden-sm"> Best Java Development <span class="orange_heading"><br>For Clients.</span> </h2> </div>  <br><br>
                <h2 class="blue_heading visible-xs visible-sm"> Best Java Development <span class="orange_heading">For Clients.</span> </h2>  </div>

              <p class="pline">Java is a set of many computer software and specifications developed by Sun Microsystems. It was later acquired by Oracle Corporation that provides a system for developing application software and also deploying it in a cross-platform computing environment. Java is one of the most-used technologies for a wide range of computing platforms ranging from embedded services to mobile phones to enterprise services and supercomputers. Less common Java applets run in sandboxed environments and can also be embedded in HTML pages. Codes are produced mainly by writing in the Java programming language. The Java syntax borrows from C and C++ and its memory is managed via its integrated automatic garbage collection.</p>



            </div>



        </div>-->
        <!-- Service Tabs -->
        <div class="row">
            <div class="col-sm-12">
                <div class="bground">
                    <div id="page-wrap" class="aboutpage">
                        <strong>Java</strong>
                        <ul class="who_we_are_content">
                            <li><span class="fa fa-chevron-circle-right"></span> Java is a set of many computer software and specifications developed by Sun Microsystems.</li>
                            <li><span class="fa fa-chevron-circle-right"></span> It was later acquired by Oracle Corporation that provides a system for developing application software and also deploying it in a cross-platform computing environment.</li>
                            <li><span class="fa fa-chevron-circle-right"></span> Java is one of the most-used technologies for a wide range of computing platforms ranging from embedded services to mobile phones to enterprise services and supercomputers. We provide services like Java Software Development,J2EE Application Development,Enterprise Java Development. </li>
                            <li><span class="fa fa-chevron-circle-right"></span> Less common Java applets run in sandboxed environments and can also be embedded in HTML pages. </li>
                            <li><span class="fa fa-chevron-circle-right"></span> Codes are produced mainly by writing in the Java programming language. The Java syntax borrows from C and C++ and its memory is managed via its integrated automatic garbage collection.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div>
                    <h2>Services:</h2>
                    <table class="table list-icon">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Web Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Application Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Software Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Enterprise Java Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Mobile Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Migration</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom Java Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Professional Services</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Android Java Application Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;J2EE Application Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Struts Development</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="related_post" style="float: left; width: 100%;">
                    <h2>Portfolio :</h2>
                    <div class="port_content">
                        <div id="isotope-container" class="isotope">
                            <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>