<!--Page Banner -->
<div class="row">
    <div class="about-banner"> <img class="img-responsive" src="../images/career/Hire-BDE.jpg" alt="" style="width: 100%;height:250px"> </div>
</div>
<!--End of Page Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-30">
            <div class="col-sm-6">
                <div class="job-description">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="skills-heading">Job Opening Details:</h1>
                        </div>
                        <div class="panel-body">
                            <div class="company-counselor mt-10">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><strong>Job Title : </strong> </td>
                                            <td>Junior Business Development Executive</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Job Code : </strong></td>
                                            <td>JRBDE</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Location : </strong></td>
                                            <td>Ahmedabad</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Openings : </strong></td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Salary Range : </strong></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Experience : </strong></td>
                                            <td>1+ Years</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Qualification : </strong></td>
                                            <td>MBA / BE / MCA / M.Sc(IT) / PGDBM / Equivalent</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="job-description">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="skills-heading">Required Skills:</h1>
                        </div>
                        <div class="panel-body">
                            <ul class="skill-list">
                                <li><span class="fa fa-chevron-circle-right"></span>1 + yrs of experience</li>
                                <li><span class="fa fa-chevron-circle-right"></span>A good communication skill in English is must</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Generate leads</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Market research for selling IT services and solutions in different domain</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Send email campaigns/ newsletters. Follow ups</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Create sales and Business Development collateral</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Assist in proposals, presentation preparations</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="space"> To apply for this position please send your CV at <a href="mailto:career@shaligraminfotech.com">career@shaligraminfotech.com</a> with Job Code in subject line and also mention your current salary. </p>
</div>