<style>
    table {
        width: 100%;
        height: auto;
    }

    .propic {
        width: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .procont {
        width: 60%;
        margin-top: 15%;
    }

    .propic > img {
        width: 70%;
        height: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .line {
        border-bottom-width: thin;
        border-bottom-style: solid;
        border-bottom-color: #215DA9;
    }

    .smallpro {
        display: none;
    }

    p {
        text-align: justify;
    }

    .leadership h1 {
        border-bottom: solid 1px #215DA9;
    }
</style>


<div class="container">


    <div class="leadership">

        <h1>Leadership</h1>

    </div>
    <table>

        <!-- Ramesh   Ramesh Marand -->

        <tr class="line">

            <td class="propic">

                <img src="../images/Management/Ramesh Marand.jpg" class="image">

            </td>



            <td class="procont" valign="top">



                <span class="contact"><strong>Ramesh Marand - Director of IT, CEO</strong> <span style="float:right"><a href="https://in.linkedin.com/in/rameshahir"><img src="../images/linkedin.png" alt="linkedin" class="li" /></a></span></span>




                <p>

                    Ramesh holds BTech software engineer degree from LD Institute of Technology since 2004.

                    Brings in over 12 years of experience in successfully running and growing companies.

                    Before founding Shaligram Infotech, he was partner with a software company to which he gave growth of 110% targeting Microsoft and open source platforms.

                    Along with Shaligram Infotech, he is currently partner of UK based software Product Company.

                    He is involved in strategic business alliance and expansion strategy of both companies.

                </p>
                <p>
                    <b>Contact Info: </b>
                    <i class="fa fa-envelope-o fa-sm"></i>&nbsp;<a href="mailto:ramesh.m@shaligraminfotech.com">ramesh.m@shaligraminfotech.com</a>
                    <span class="bar">|</span>
                    <i class="fa fa-phone fa-sm"></i>&nbsp;<a href="tel:+91-9099741000">+91-9099741000</a>
                </p>




            </td>

        </tr>

        <tr class="smallpro">



            <td valign="top">

                <div class="contact"><strong>Ramesh Marand</strong></div>
                <div class="contactpost">Director of IT, CEO</div>
                <div class="contactinfo"><strong>Contact Info:</strong></div>
                <div class="contactinfo">
                    <a class="fa fa-envelope-o fa-2x" href="mailto:ramesh.m@shaligraminfotech.com" data-toggle="tooltip" data-placement="top" title="ramesh.m@shaligraminfotech.com"></a>
                    <span class="bar">|</span>
                    <a class="fa fa-phone fa-2x" href="tel:+91-9099741000" data-toggle="tooltip" data-placement="top" title="+91-9099741000"></a>
                    <span class="bar">|</span>
                    <a class="fa fa-linkedin-square fa-2x" href="https://in.linkedin.com/in/rameshahir" target="_blank" data-toggle="tooltip" data-placement="top" title="rameshahir"></a>
                </div>

                <p>
                    Ramesh holds BTech software engineer degree from LD Institute of Technology since 2004.

                    Brings in over 12 years of experience in successfully running and growing companies.

                    Before founding Shaligram Infotech, he was partner with a software company to which he gave growth of 110% targeting Microsoft and open source platforms.

                    Along with Shaligram Infotcech, he is currently partner of UK based software Product Company.

                    He is involved in strategic business alliance and expansion strategy of both companies.
                </p>
            </td>



        </tr>
        <!-- end Ramesh Marand-->
        <!-- Ramesh   Ramesh Antala -->

        <tr class="line">

            <td class="propic">



                <img src="../images/Management/Ramesh Antala.jpg" class="image">

            </td>



            <td class="procont" valign="top">



                <span class="contact"> <strong>Ramesh Antala - Chief Information Officer</strong><span><a href=" https//www.linkedin.com/pub/ramesh-antala/46/208/964"><img src="../images/linkedin.png" class="li" alt="linkedin" style="float:right" /></a></span></span>



                <p>

                    Ramesh Antala is a qualified civil engineer of 1989 batch and has 26 years of industry experience with a focus in enterprise application development, program management, delivery management and key account management. He is a visionary and will be responsible for defining technology roadmap and solutions that will build the future growth in line with the organization vision and mission.

                </p>

                <p>
                    <b>Contact Info: </b>
                    <i class="fa fa-envelope-o fa-sm"></i>&nbsp;<a href="mailto:ramesh.a@shaligraminfotech.com">ramesh.a@shaligraminfotech.com</a>
                    <span class="bar">|</span>
                    <i class="fa fa-phone fa-sm"></i>&nbsp;<a href="tel:+91-9879111024">+91-9879111024</a>
                </p>





            </td>

        </tr>

        <tr class="smallpro">
            <td valign="top">
                <div class="contact" style="margin-top: 5px;"><strong>Ramesh Antala</strong></div>
                <div class="contactpost">Chief Information Officer</div>
                <div class="contactinfo"><strong>Contact Info:</strong></div>
                <div class="contactinfo">
                    <a class="fa fa-envelope-o fa-2x" href="mailto:ramesh.a@shaligraminfotech.com" data-toggle="tooltip" data-placement="top" title="ramesh.a@shaligraminfotech.com"></a>
                    <span class="bar">|</span>
                    <a class="fa fa-phone fa-2x" href="tel:+91-9879111024" data-toggle="tooltip" data-placement="top" title="+91-9879111024"></a>
                    <span class="bar">|</span>
                    <a class="fa fa-linkedin-square fa-2x" href="https://www.linkedin.com/pub/ramesh-antala/46/208/964" target="_blank" data-toggle="tooltip" data-placement="top"></a>
                </div>

                <p>

                    Ramesh Antala is a qualified civil engineer of 1989 batch and has 26 years of industry experience with a focus in enterprise application development, program management, delivery management and key account management. He is a visionary and will be responsible for defining technology roadmap and solutions that will build the future growth in line with the organization vision and mission.

                </p>








            </td>





        </tr>

        <!-- end Ramesh Antala-->
        <!-- Bhaveshbhai -->

        <tr class="line">

            <td class="propic">


                <img src="../images/Management/Bhaveshbhai.jpg" class="image">



            </td>



            <td class=" procont" valign="top">



                <span class="contact"><strong>Bhavesh Vaghasiya - Director of Operation</strong></span>



                <p>

                    Bhavesh is BTech Chemical engineer since 1995.

                    Bhavesh supports team with heavy emphasis on training and collaborative teamwork across organizational boundaries which improved employee retention and customer satisfaction.

                    Process improvement and quality management are key areas for Bhavesh.

                </p>






            </td>

        </tr>

        <tr class="smallpro">



            <td valign="top">
                <div class="contact" style="margin-top: 5px;"><strong>Bhavesh Vaghasiya</strong></div>
                <div class="contactpost">Director of Operation</div>


                <p>

                    Bhavesh is BTech Chemical engineer since 1995.

                    Bhavesh supports team with heavy emphasis on training and collaborative teamwork across organizational boundaries which improved employee retention and customer satisfaction.

                    Process improvement and quality management are key areas for Bhavesh.

                </p>



                <br />



            </td>



        </tr>

        <!-- end Bhaveshbhai-->
        <!-- Jitu Patel -->

        <tr class="line">

            <td class="propic">
                <img src="../images/Management/JITUBHAI.jpg" class="image">

            </td>



            <td class=" procont" valign="top">

                <span class="contact"><strong>Jitu Patel - Director of Finance</strong></span> <br>
                <p>
                    Jitu is specialist with 20 years of experience in supervising and performing full life cycle financial management, planning and analysis, program control, resource/capacity planning, M&A integration, and pricing.
                </p>
            </td>
        </tr>
        <tr class="smallpro">
            <td valign="top">
                <div class="contact" style="margin-top: 5px;"><strong>Jitu Patel</strong></div>
                <div class="contactpost">Director of Finance</div>
                <p>
                    Jitu is specialist with 20 years of experience in supervising and performing full life cycle financial management, planning and analysis, program control, resource/capacity planning, M&A integration, and pricing.
                </p>
            </td>
        </tr>
        <!-- end Jitu Patel-->
        <!-- KAMLESHBHAI -->
        <tr class="line">
            <td class="propic">
                <img src="../images/Management/KAMLESHBHAI.jpg" class="image">
            </td>
            <td class=" procont" valign="top">
                <span class="contact"><strong>Kamlesh Savalia - Director, Board Member</strong></span> <br>
                <p>
                    Kamlesh is a civil engineer and an inspirational leader with 20 years of experience. He is known for his participatory management style and capable of transforming work culture to create global competitive advantage. He is managing revenue growth,partner development, collaborations and operations of Shaligram Infotech.

                </p>
            </td>
        </tr>
        <tr class="smallpro">
            <td valign="top">
                <div class="contact" style="margin-top: 5px;"><strong>Kamlesh Savalia</strong></div>
                <div class="contactpost">Director, Board Member</div>
                <p>
                    Kamlesh is a civil engineer and an inspirational leader with 20 years of experience. He is known for his participatory management style and capable of transforming work culture to create global competitive advantage. He is managing revenue growth,partner development, collaborations and operations of Shaligram Infotech.

                </p>
            </td>
        </tr>
        <!-- KAMLESHBHAI-->
        <!-- Bhartesh Sagar -->
        <tr>
            <td class="propic">
                <img src="../images/Management/Bsagar.jpg" class="image">
            </td>

            <td class="procont" valign="top">
                <span class="contact"><strong>Bhartesh Sagar - Principal Business Development Consultant</strong><span><a href=" https//in.linkedin.com/in/basagar"><img src="../images/linkedin.png" class="li" alt="linkedin" style="float:right;" /></a></span></span>
                <p>
                    Bhartesh brings in 35 years of his business development and management experience in ICT industry verticals across Pan India, Australia, South Africa and Europe.
                    This includes a long history of successfully implementing business process for renowned IT companies while scaling up their business through dynamic revenue generation.
                    He is managing overall business development activities.
                </p>
                <p>
                    <b>Contact Info: </b>
                    <i class="fa fa-envelope-o fa-sm"></i>&nbsp;<a href="mailto:sagar@shaligraminfotech.com">sagar@shaligraminfotech.com</a>
                    <span class="bar">|</span>
                    <i class="fa fa-phone fa-sm"></i>&nbsp;<a href="tel:+91-9033752583">+91-9033752583</a>
                </p>
            </td>

        </tr>
        <tr class="smallpro pro1">
            <td valign="top">
                <div class="contact" style="margin-top: 5px;"><strong>Bhartesh Sagar</strong></div>
                <div class="contactpost">Chief Information Officer</div>
                <div class="contactinfo"><strong>Contact Info:</strong></div>
                <div class="contactinfo">
                    <a class="fa fa-envelope-o fa-2x" href="mailto:sagar@shaligraminfotech.com" data-toggle="tooltip" data-placement="top" title="sagar@shaligraminfotech.com"></a>
                    <span class="bar">|</span>
                    <a class="fa fa-phone fa-2x" href="tel:+91-9033752583" data-toggle="tooltip" data-placement="top" title="+91-9033752583"></a>
                    <span class="bar">|</span>
                    <a class="fa fa-linkedin-square fa-2x" href="https://in.linkedin.com/in/basagar" target="_blank" data-toggle="tooltip" data-placement="top"></a>
                </div>
                <p>
                    Bhartesh brings in 35 years of his business development and management experience in ICT industry verticals across Pan India, Australia, South Africa and Europe.
                    This includes a long history of successfully implementing business process for renowned IT companies while scaling up their business through dynamic revenue generation.
                    He is managing overall business development activities.
                </p>
            </td>
        </tr>
    </table>
</div>