<div class="row">
    <div class="img_pic">
        <img src="../images/Solutions/chat2.png" alt="Live Chat and Support Ticket System | Live Chat Support Skype" title="Live Chat and Support Ticket System | Live Chat Support Skype">
    </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">

            <br><br>
            <p style="text-align: justify;">Live chat is the fastest way to connect with your customers and reach potential clients in real time. Shaligram Infotech provides an online chat solution with the number of features that comfort people to communicate each other.</p>

        </div>
    </div>
</div>

<!-- Image Header -->
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <!-- Service Tabs -->
    <div class="row">

        <div class="col-lg-12">



            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Features</h2>

                    <div class="col-md-4">


                        <div>
                            <ul class="benifit_list">

                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom Widget</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Triggers</li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Chat History Portal</li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Shortcuts</li>
                                <li> <span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Multiple Agents</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Multi Lingual</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Desktop Notifications</li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">


                        <div>
                            <ul class="benifit_list">



                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Aliases</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Departments</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Manage Sites</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom Pages</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Attention Bubble</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Ban Visitors</li>
                                <li><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Sound Settings</li>
                            </ul>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Screenshots</h2>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat1.png">
                <img src="../images/Solutions/livechat1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat2.png">
                <img src="../images/Solutions/livechat2.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat3.png">
                <img src="../images/Solutions/livechat3.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat4.png">
                <img src="../images/Solutions/livechat4.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat5.png">
                <img src="../images/Solutions/livechat5.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat6.png">
                <img src="../images/Solutions/livechat6.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat7.png">
                <img src="../images/Solutions/livechat7.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat8.png">
                <img src="../images/Solutions/livechat8.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat9.png">
                <img src="../images/Solutions/livechat9.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
            <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="../images/Solutions/livechat10.png">
                <img src="../images/Solutions/livechat10.png" class="thumbnail img-responsive" style="width:250px; height:200px">
            </a>
        </div>

    </div>




</div>
