<div class="aboutbody">
    <a href="#" title="Shaligram Infotech Microsoft Dot Net | ASP.NET Web Development"><img src="~/Images/dotnet.jpg" alt="Shaligram Infotech Microsoft Dot Net | ASP.NET Web Development"></a>
</div>
<div class="container">
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>Microsoft .Net</strong>
                    <ul class="who_we_are_content">
                        <li><span>&#9755;</span> Our Microsoft engineers are highly skilled with experience ranging from 1 to 15 years and highly skilled for developing solutions using Microsoft .NET Framework 4.</li>
                        <li><span>&#9755;</span> Their functional analysis, technical design and development skills ensure that you get the finest business solution as your e-commerce, retail, desktop, web based, or custom-built software applications.</li>
                        <li><span>&#9755;</span> Our techno-functional capabilities, quality assurance and structured project management practices will ensure that you get your projects delivered on time with your expected outcome.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <table class="table">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;ASP.NET Web Development</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Windows Application Development</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Silverlight Application Development</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Azure Application Development</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Software Product Development</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Custom Software Development</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Enterprise Application Development</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Mobile Application Development</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="related_post" style="float: left; width: 100%;">
                <h2>Portfolio :</h2>
                <div class="port_content">
                    <div id="isotope-container" class="isotope">
                        <?php  include("../portfolio/php/sharepoint.net-t.php"); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> </div>