<div class="row">
    <div class="img_pic"> <img src="../images/Services-banner/mobile-app.jpg" alt="Mobile App Development Company | Mobile App Development Company USA" title="Mobile App Development Company | Mobile App Development Company USA"> </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:3%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 "> Mobile App <br><span style="color:#f58634; font-weight: bolder">Development</span> </h2>
            <br>
            <br>
            <p class="pline">Mobile technology has changed everybody's life to a great extent. For companies, it facilitates wider and unparalleled reach to the target audience, enhances the service standards, better cooperation and communication among employees. Enterprise Mobility adds liquidity to stationary enterprise processes, thus enhancing the global reach. Developing enterprise mobile apps is now an essential component of every enterprise strategy.</p>
        </div>

        <div class="col-lg-12">
            <h3>Custom Mobile Apps Development at Shaligram Infotech</h3>
            <p>At Shaligram Infotech, we have sculpted many ingenious solutions starting from the inception to the launch. Our custom mobile service apps are strictly focused on our customers requirements and provide with the required solution. We have phenomenal experience in designing the UI / UX of Mobile Apps and are also proficient in development in varied platforms like iOS , Android , Windows and Node.JS. We have developed a good number of Native, Hybrid and Enterprise apps for small as well as large sized companies. Our quality and cost effective solutions have opened new avenues for the clients thus enabling them in accomplishing their business objectives.</p>
        </div>
    </div>


</div>
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <!--  <b>We offer the following services:</b>   -->
            <p>As a leading mobile apps development company , services include:</p>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>iOS App Development</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>iPhone App Development</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>iPad App Development</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Android App Development</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Hybrid Apps Development</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Cross-Platform App Development</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>App Prototype Development</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Smart Watch Apps Development</li>
            </ul>

        </div>
    </div>

    <h2>Expertise:</h2> <span>We hold expertise in:</span>
    <div class="tech-list">


        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <?php

            $techname ="services/mobile/";
            $techurl = "../images/services/mobile/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>


    </div>
</div>

<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Experience</h2>

            <p>Shaligram Infotech has developed various mobile apps across the industry verticals like:</p>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Oil & Gas, Mining</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Energy & Utilities</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Shipping, Transportation & Logistics</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Retail</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Healthcare</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Travel & Hospitality</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>BFSI </li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Media & Entertainment</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Sports</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Education</li>
            </ul>
        </div>
    </div>

</div>

<br>
<br>