<div class="aboutbody">
    <a href="#" title="Shaligram Infotech Node Js | Enterprise Application Development"><img src="~/Images/nodejs.jpg" alt="Shaligram Infotech Node Js | Enterprise Application Development"></a>
</div>
<!-- /.row -->
<div class="container">
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>Nodejs</strong>
                    <ul class="who_we_are_content">
                        <li><span>&#9755;</span> Node.js is an open source, cross-platform runtime environment for server-side and networking applications.</li>
                        <li><span>&#9755;</span> Node.js applications are written in JavaScript and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux, FreeBSD, NonStop, IBM AIX, IBM System z and IBM i.</li>
                        <li><span>&#9755;</span> The Node.js foundation hosts and supports its work as it is a 'Collaborative Project' at Linux Foundation.</li>
                        <li><span>&#9755;</span> An application's through put and scalability is optimized as Node.js provides an event-driven architecture and a non-blocking I/O API.</li>
                        <li><span>&#9755;</span> Real-time web applications, mostly use these technologies.</li>
                        <li><span>&#9755;</span> Node.js consists of a built-in library that allows applications that act as a Web server without the use of any software.</li>
                        <li><span>&#9755;</span> It is one of the best platforms that is working as a server-side platform by many known companies, nowadays.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <table class="table">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Enterprise Application Development</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Scalable network applications</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;The Internet of Things</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;E-Commerce</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Payment Processing</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Social Media</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp; Realtime Services</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp; Media</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp; Enterprise Web Service</td>
                                <td><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp; Network applications</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="related_post" style="float: left; width: 100%;">
                <h2>Portfolio :</h2>
                <div class="port_content">
                    <div id="isotope-container" class="isotope">
                        <?php  include("../portfolio/php/nodejst.php"); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>