<div class="row">
    <div class="img_pic"> <img src="../images/Services-banner/dedicated-development.jpg" alt="Offshore Development Center India | Offshore Development Center USA" title="Offshore Development Center India | Offshore Development Center USA"> </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:5%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 "> Offshore & <br><span style="color:#f58634; font-weight: bolder">Development</span> </h2>
            <br>
            <br>
            <p class="pline">Offshore Development Center (ODC) offers a complete control on projects, while reducing operating expenses. Moreover, it provides a large pool of multi-disciplinary IT professionals, at low cost.</p>
            <p class="pline">Shaligram Infotech's Offshore Development Center (ODC) is exclusively designed to help organizations with the perfect infrastructure to deploy large IT projects. Our years of experience, stringent processes, and a large pool of English speaking IT professionals ensure a smoother engagement between Onshore and Offshore teams.</p>
        </div>
    </div>


</div>
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <!--  <b>We offer the following services:</b>   -->
            <p>Shaligram Infotech has been helping many forbes and Fortune listed companies with setting up and operating their Offshore Development Center for more than a decade. Our Software Outsourcing engineering teams have helped customers with the high-end IT solutions.</p>
            <p>Here are some of the compelling reasons to select Shaligram Infotech as a Offshore Development Center:</p>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Ready to use IT infrastructure</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Access to a large pool of IT resources with various skills at an affordable rate</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>(Requirements / schedules / deliverables / priorities)</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Add / Remove resources as per project requirements</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Faster development and commitment to meet deadline</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Flexible working hours as per client's time zone</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>HR and organizational support</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Physical and network security, Centralized backup</li>
            </ul>

            <p>We assure a complete control, confidentiality, and protection of the projects, like:</p>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Data Confidentiality and IP protection</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Security for data loss</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Constant Communications with a dedicated development team through email, messenger, and VoIP</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Daily work logs</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Implementation of different work related policies</li>

            </ul>

            <p>Our ODC staff have worked with multinational clients and they understand that the success of a project depends on 3 virtues: mutual understanding, trust, and commitment.</p>
        </div>
    </div>

    <h2>Expertise:</h2> <span>We hold expertise in:</span>
    <div class="tech-list">
        <h3>Microsoft Technologies:</h3>
        <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/microsoft-technologies')">
        </div>
    </div>
    <div class="tech-list">
        <h3>Open Source Technologies:</h3>
        <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/Opensource')">
        </div>
    </div>
    <div class="tech-list">
        <h3>Java Technologies:</h3>
        <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/java-technology')">
        </div>
    </div>
    <div class="tech-list">
        <h3>Mobile Technologies:</h3>
        <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/mobile')">
        </div>
    </div>
   
    @*<div class="tech-list">
        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <?php

            $techname ="services/microsoft-technologies/";
            $techurl = "../images/services/microsoft-technologies/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>

        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <?php

            $techname ="services/Opensource/";
            $techurl = "../images/services/Opensource/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>

        <div class="tech-list">
            <h3>Java Technologies:</h3>
            <?php

            $techname ="services/java-technology/";
            $techurl = "../images/services/java-technology/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>

        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <?php

            $techname ="services/mobile/";
            $techurl = "../images/services/mobile/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>

    </div>*@
</div>

<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Experience</h2>

            <p>Shaligram Infotech has provided ODC services across multiple industry domains like:</p>

            <ul class="who_we_are_content">
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Oil & Gas, Mining</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Energy & Utilities</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Shipping, Transportation & Logistics</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Retail</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Healthcare</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Travel & Hospitality</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>BFSI </li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Media & Entertainment</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Sports</li>
                <li><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>Education</li>
            </ul>
        </div>
    </div>

</div>

<br>
<br>
