<div class="aboutbody">
    <a href="#" title="PHP Open Source Project Development | PHP Open Source Project Development Company"><img src="../images/Technology/php.jpg" alt="PHP Open Source Project Development | PHP Open Source Project Development Company"></a>
</div>
<!-- /.row -->
<div class="container">
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>PHP/Open Sources</strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> PHP is a server-side scripting language designed primarily for web development.It is also used as a general-purpose programming language.</li>
                        <br>      
                        <li><span class="fa fa-chevron-circle-right"></span> PHP frameworks are used to build websites and web applications of all sizes and complexity, ranging from small static websites to large scale complex enterprise content management systems.</li>
                        <br>      
                        <li><span class="fa fa-chevron-circle-right"></span> CMS is a computer application used to create, edit, manage, and publish content in a consistently organized fashion.</li>
                        <br>      
                        <li><span class="fa fa-chevron-circle-right"></span> E-commerce is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet. </li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <table class="table list-icon">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;PHP Web Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;PHP Web Application Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom PHP Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;PHP/MYSQL Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Corporate Web Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;ECommerce Web Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Wordpress Web Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Joomla Web Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Magento Web Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;PHP based CMS Development</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Shoping Cart</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Web Portal Solutions</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="related_post" style="float: left; width: 100%;">
                <h2>Portfolio :</h2>
                <div class="port_content">
                    <div id="isotope-container" class="isotope">
                        <?php  include("../portfolio/php/php-t.php"); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> </div>