<div class="container" ng-controller="RequestQuoteController">
    <br /><br />
    <div class="row">
        <form class="form-horizontal" name="RequestQuoteForm" novalidate>
            <div role="tabpanel" class="form-horizontal" id="messages">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="(RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid))">
                    <ul ng-show="validationErrors">
                        <li ng-repeat="error in validationErrors">{{error}}</li>
                    </ul>
                    <ul ng-show="RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid)">
                        <li ng-show="RequestQuoteForm.FullName.$error.required">Full Name is required.</li>
                        <li ng-show="RequestQuoteForm.EmailAddress.$error.required">Email Address is required.</li>
                        <li ng-show="RequestQuoteForm.EmailAddress.$error.email">Please enter valid email address.</li>
                        <li ng-show="!RequestQuoteForm.PhoneNumber.$valid">Please enter valid phone number.</li>
                        <li ng-show="RequestQuoteForm.City.$error.required">City is required.</li>
                        <li ng-show="RequestQuoteForm.ProjectTypeId.$error.required">Project Type is required.</li>
                        <li ng-show="RequestQuoteForm.BudgetId.$error.required">Budget is required.</li>
                        <li ng-show="RequestQuoteForm.ProjectDescription.$error.required">Project Description is required.</li>
                        <li ng-show="googleRecaptchaValidationMessage">Please fill Captcha.</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Request Quote</h3>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" ng-model="RequestQuote.FullName" name="FullName" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="number" ng-model="RequestQuote.PhoneNumber" ng-maxlength="10" name="PhoneNumber" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" ng-model="RequestQuote.EmailAddress" name="EmailAddress" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" ng-model="RequestQuote.City" name="City" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" ng-model="RequestQuote.Company" name="Company" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Project Type</label>
                            <select class="form-control" id="ProjectTypeId" ng-model="RequestQuote.ProjectTypeId" name="ProjectTypeId"  required>
                                <option value="">- select -</option>
                                <option value="1">Mobile App Development</option>
                                <option value="2">Web Development</option>
                                <option value="3">SaaS</option>
                                <option value="4">Cloud App</option>
                                <option value="5">CRM</option>
                                <option value="6">ERP</option>
                                <option value="7">eCommerce</option>
                                <option value="8">Social Networking</option>
                                <option value="9">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Budget</label>
                            <select class="form-control" id="BudgetId" ng-model="RequestQuote.BudgetId" name="BudgetId"  required>
                                <option value="">- select -</option>
                                <option value="1">Less than 10K USD</option>
                                <option value="2">10K USD - 20K USD</option>
                                <option value="3">20K - 50K USD</option>
                                <option value="4">50K - 100K USD</option>
                                <option value="5">100K and more</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Project Description:</label>
                            <textarea rows="10" cols="100" ng-model="RequestQuote.ProjectDescription" class="form-control" id="ProjectDescription" name="ProjectDescription" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input_fields_wrap control-group">
                                <div class="controls">
                                    <label>Attach File:</label>
                                    <br>
                                    <input type="file" upload-files/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="controls">
                        <label>Please fill Captcha</label>
                        <br>
                        <div vc-recaptcha
                             key="'6LdSvz8UAAAAAKygptbKgD3R3Y4UmDupZtn-nzk6'"></div>
                        <br>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="btn_contact mt-10">
                        <button type="submit" class="btn btn-primary" name='submit' id='submit' ng-click="SaveRequestQuoteDetails(RequestQuoteForm)">Send Message</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Find Us Here</h3>
                <div class="col-md-12">
                    <img src="/images/map.jpeg" alt="shaligram-map" title="shaligram infotech" class="img-responsive" style="margin-top: 15px; Margin-Bottom:15px;" />
                </div>
                <div class="col-md-12" style="margin: 20px 0px;">
                    <div class="col-md-6">
                        <label>Office (India)</label>
                        <p>Shaligram House, Behind Rajpath Club, </p>
                        <p>Off. S.G. Road, Bodakdev, </p>
                        <p>Ahmedabad-380059, India</p>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp; +91-9727212899 </p>
                    </div>
                    <div class="col-md-6">
                        <label>Office (UK)</label>
                        <p>100, College Road, Harrow, </p>
                        <p>London, HA1 1BQ,</p>
                        <p>United Kingdom</p>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;+44 20 3581 6366</p>
                    </div>
                </div>
                <div class="col-md-12" style="margin: 0px 0px 10px 0px;">
                    <div class="col-md-6">
                        <label>Office (USA)</label>
                        <p>14793 Pensham Drive,</p>
                        <p>Frisco TX 75035, USA </p>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;+1-210-888-8402</p>
                        <p><i class="fa fa-fax"></i> 844-255-9976</p>
                    </div>
                    <div class="col-md-6">
                        <label>Office (Australia)</label>
                        <p>Level 36, 71 Eagle Street, </p>
                        <p>Brisbane, QLD 4000 </p>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;+61 07 3121 3147</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+61 0422 019 223</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
