<div class="row">
    <div class="img_pic"> <img src="../images/Services-banner/responsive-wesite-development.jpg" alt="Responsive Web Development" title="Responsive Website Development Company | Responsive Website Development Company UK"> </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:3%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 ">One Web <br><span style="color:#f58634; font-weight: bolder">For All Devices</span> </h2>
            <br>
            <br>
            <p class="pline">Demand for "responsive design" technology is an industry trend globally, thanks to the exponent increase in mobile internet users. We at Shaligram Infotech offer a large portfolio of responsive solution designs creating great browsing experience to our mobile clients and users. Our service included Advanced location integration,  Database driven web applications,  Social networking integration. </p>
        </div>
    </div>
</div>
<div class="container">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <!--  <b>We offer the following services:</b>   -->
            <table class="table list-icon">
                <b><tr>We offer the following services:</tr> </b>
                <tbody>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Responsive website layouts</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Personalized website features</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Data-rich applications</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Unique artworks and graphics</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Database driven web applications</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Scalable applications</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Advanced location integration</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Social networking integration</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Lightweight and robust</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Software UI</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;API integrations</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Mobile responsive</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Expertise:</h2> <span>We hold expertise in:</span>
        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <?php

            $techname ="services/web-ms/";
            $techurl = "../images/services/web-ms/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>
        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <?php

            $techname ="services/Opensource/";
            $techurl = "../images/services/Opensource/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>
    </div>
</div>
<br>
<br>