<div class="aboutbody" ng-controller="SharepointCtrl">
    <a href="#" title="Sharepoint Application Development Company UK | SharePoint Application"><img src="~/Images/sharepoint.jpg" alt="Sharepoint Application Development Company UK | SharePoint Application"></a>
</div>
<!-- Image Header -->
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <!--  <div class="row">
        <div class="col-lg-12" >
            <h2 class="blue_heading hidden-xs hidden-sm"> If you have a point;<br> share it.<span class="orange_heading"><br>Use SharePoint.</span> </h2>   <br><br>
            <h2 class="blue_heading visible-xs visible-sm"> If you have a point; share it.<span class="orange_heading"> Use SharePoint.</span> </h2>

          <p class="pline">Sharepoint is a web application platform in the Microsoft Office server suite. Many functions that are otherwise separate applications are combined with Sharepoint like intranet, extranet, content management, document management, personal cloud, enterprise social networking, enterprise search, business intelligence, workflow management, web content management and an enterprise application store. The Sharepoint servers have been deployed for internal use in mid-size as well as large businesses. This Sharepoint software is based on an n-tier service oriented architecture. Most enterprise application software like email servers require or have to integrate with some or the other elements of Sharepoint. It is one of the best applications that provide central management, governance and security controls.</p>

        </div>



    </div>-->
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bground">
                <div id="page-wrap" class="aboutpage">
                    <strong>SharePoint</strong>
                    <ul class="who_we_are_content">
                        <li><span class="fa fa-chevron-circle-right"></span> Sharepoint is a web application platform in the Microsoft Office server suite.</li>
                        <li><span class="fa fa-chevron-circle-right"></span> Many functions that are otherwise separate applications are combined with Sharepoint like intranet, extranet, content management, document management, personal cloud, enterprise social networking, enterprise search, business intelligence, workflow management, web content management and an enterprise application store. We provide services like sharePoint customization, Line-of-Business Integration,sharePoint assessments. </li>
                        <li><span class="fa fa-chevron-circle-right"></span> The Sharepoint servers have been deployed for internal use in mid-size as well as large businesses. </li>
                        <li><span class="fa fa-chevron-circle-right"></span> This Sharepoint software is based on an n-tier service oriented architecture. </li>
                        <li><span class="fa fa-chevron-circle-right"></span> Most enterprise application software like email servers require or have to integrate with some or the other elements of Sharepoint. </li>
                        <li><span class="fa fa-chevron-circle-right"></span> It is one of the best applications that provide central management, governance and security controls.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h2>Services:</h2>
                    <table class="table tech_service">
                        <b><tr>We offer the following services:</tr> </b>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Web Farm Infrastructure Architecture and Design</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Assessments</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Extranets</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Intranets</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Public Sites</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom SharePoint Development</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Enterprise Content Management</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Workflow & Collaboration</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Reporting Services and Dashboards</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Customization</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Managed Services</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Migration Services</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Line-of-Business Integration</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint User Experience and Branding</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Enterprise Search</td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Business Process Forms and Workflows</td>
                                <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Corporate Social Computing</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="related_post" style="float: left; width: 100%;">
                <h2>Portfolio :</h2>
                <div class="port_content">
                    <div id="isotope-container" class="isotope">
                        <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                        </div>
                        @*<?php  include("../portfolio/php/sharepointt.php"); ?>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> </div>
</div>