<div class="row">
    <div class="img_pic"> <img src="../images/Services-banner/product-banner21.jpg" alt="Product Development" title="Retail ERP Software Development Company | Retail ERP Software Development Company UK"> </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:5%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 "> Innovative Minds <br><span style="color:#f58634; font-weight: bolder">Innovative Products</span> </h2>
            <br>
            <br>
            <p class="pline">When it comes to coding your vision, our techno-functional creative team acts as a brain and each member of the development team function as an individual neuron.They will share their knowledge and experience while developing your software product and help you set the expectations.Our expertise lies mainly in developing robust point-of-sales products for different clients across many countries.Our developers hold great command on the technical aspects of POS system development so as to ensure optimized profitability for our client in their business.</p>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="container">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <!--  <b>We offer the following services:</b>   -->
            <table class="table serv">
                <b><tr>We offer the following services:</tr> </b>
                <tbody>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Product development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;BizTalk Server 2010</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft Dynamics AX</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Commercial Software Product Development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;BizTalk Server 2009</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft Dynamics GP</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SaaS Development &amp; Migration</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;BizTalk Server 2006 R2</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft Dynamics NAV</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Embedded Software Development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;BizTalk Server 2004</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft Dynamics SL</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Software Labs for Offshore Software Development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;BizTalk Server 2002</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft Dynamics Mobile Development Tools</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Bespoke desktop and web application development </td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;E-commerce development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft BizTalk Server</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft Dynamics CRM integration,</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Order Management System (OMS)</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;BizTalk Server 2013 and 2013 R2</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Manufacturing Company ERP Software</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Toll Free Call Management System</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Package implementations Services</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Retail ERP Software</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Learning Management System (LMS)</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Application Integration Services</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Construction & Real Estate ERP Software</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;E-commerce shopping carts development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Application Testing Services</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;School and College ERP Software</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom web applications development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Business Intelligence</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Sugar Factory ERP</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Content management system development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Data Migration Services</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Automobile ERP Software</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Fllet Management system</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Performance Testing and Tuning Services</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Hospital ERP Software</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft SharePoint Foundation</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Application Management Services</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom Software Development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft SharePoint Standard</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Enterprise Content Management</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Web Content Management System</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;WPF Resource</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom applications development</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;E-Commerce Portal</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Microsoft SharePoint Enterprise</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Data Warehousing & Business Intelligence</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Application Lifecycle Management Services</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;SharePoint Online</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Social Networking Development</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom ERP Development</td>
                        <td><span class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Smart Card Solutions</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/microsoft-technologies')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/Opensource')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/mobile')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Other Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/others')">
            </div>
        </div>
    </div>
</div>
<br>
<br>
