<div class="row">
    <div class="img_pic">
        <img src="../images/Services-banner/app-maintanance.jpg" alt="Application Support & Maintaince" title="Application Support & Maintaince | Application Maintenance & Support USA">
    </div>
</div>

<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:5%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 "> Maintaining <br><span style="color:#f58634; font-weight: bolder">Maximizing</span> </h2>   <br><br>

            <p class="pline">Providing application maintenance & support are mandatory for the developer company to leverage on the application outcome. After the application is up and running, developer needs to resolve the tiniest bug or error that might occur and ensure that it continue functioning the way it was designed without any glitches. This is the best way forward to achieve satisfactory user experience and win the client confidence. At Shaligram, we have embedded the practice of providing support and maintenance for the developed application.</p>

        </div>
    </div>
</div>

<div class="container">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <!--  <b>We offer the following services:</b>   -->
            <table class="table list-icon">
                <b><tr>We offer the following services:</tr> </b>
                <tbody>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Customized web application maintenance</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Insurance system management</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Risk analysis systems</td>
                    </tr>


                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;New features implementation</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Configuration Management</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Troubleshooting and bug fixing</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Performance management</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Change implementation, code review and testing</td>

                    </tr>

                </tbody>
            </table>



        </div>


        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <?php

            $techname ="services/microsoft/";
            $techurl = "../images/services/microsoft/";
            tech_image($techname,$techurl,$dir_img_path);

            ?>
        </div>

        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <?php
            $techname ="services/Opensource/";
            $techurl = "../images/services/Opensource/";

            tech_image($techname,$techurl,$dir_img_path);
            ?>

        </div>

        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <?php
            $techname ="services/mobile/";
            $techurl = "../images/services/mobile/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>
        <div class="tech-list">
            <h3>Other Technologies:</h3>
            <?php
            $techname ="services/others/";
            $techurl = "../images/services/others/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>

    </div>
</div>  
<br><br>

