<!--Page Banner -->
<div class="row">
    <div class="about-banner"> <img class="img-responsive" src="../images/career/Hire-BDE.jpg" alt="" style="width: 100%;height:250px"> </div>
</div>
<!--End of Page Banner -->
<!-- /.row -->
<!-- Banner -->
<!--<div class="row">
    <div class="col-lg-12">
        <img class="img-responsive" src="../images/Services-banner/ApplicationDevelop.jpg" alt="" style="width: 100%;height:450px" >
    </div>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-30">
            <div class="col-sm-6">
                <div class="job-description">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="skills-heading">Job Opening Details:</h1>
                        </div>
                        <div class="panel-body">
                            <div class="company-counselor mt-10">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><strong>Job Title : </strong> </td>
                                            <td>Senior Business Development Executive</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Job Code : </strong></td>
                                            <td>SRBDE</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Location : </strong></td>
                                            <td>Ahmedabad</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Openings : </strong></td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Salary Range : </strong></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Experience : </strong></td>
                                            <td>3+ Years</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Qualification : </strong></td>
                                            <td>MBA / BE / MCA / M.Sc(IT) / PGDBM / Equivalent</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="job-description">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="skills-heading">Required Skills:</h1>
                        </div>
                        <div class="panel-body">
                            <ul class="skill-list">
                                <li><span class="fa fa-chevron-circle-right"></span>3 + yrs of experience</li>
                                <li><span class="fa fa-chevron-circle-right"></span>A good communication skill in English is must</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Lead generation, follow up, negotiation and consultative discussions with clients to finalize the closure</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Analysis of the market and requirement gathering</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Exploration of all Outbound mediums to close the business deal</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Emailing &amp; Calling to Prospects</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Act as liaison between client and the delivery team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="space"> To apply for this position please send your CV at <a href="mailto:career@shaligraminfotech.com">career@shaligraminfotech.com</a> with Job Code in subject line and also mention your current salary. </p>
</div>