<div class="row">
    <div class="img_pic"> <img src="../images/Services-banner/web-portal.jpg" alt="Web Portal Development" title="Web Portal Development Company USA | Web Portal Development Company UK"> </div>
</div>
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="" style="margin-top:5%;float:left;font-weight:bold; line-height: 1.5;color:#215da9 "> Scalable & <br><span style="color:#f58634; font-weight: bolder">Secure</span> </h2>
            <br>
            <br>
            <p class="pline">Significance and advantages of having a web portal with an excellent UI and UX is an added advantage. Developer company with the resources and experience in using multiple tools and technologies can offer the required diversity in terms of developing great portal within your budget. We at Shaligram, can design and develop web solutions that will provide memorable browsing experience to your customers. </p>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="container">
    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
            <h2>Services:</h2>
            <!--  <b>We offer the following services:</b>   -->
            <table class="table list-icon">
                <b><tr>We offer the following services:</tr> </b>
                <tbody>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;ASP.NET Web Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Windows Application Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Silverlight Application Development</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Azure Application Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Software Product Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom Software Development</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Enterprise Application Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Mobile Application Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;.NET Professional Services</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;PHP Application Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom PHP Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span> &nbsp;&nbsp;PHP Software Customization and Integration</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;PHP Porting and Migration</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp; &nbsp;PHP Professional Services</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Joomla Development</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Magento Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp; &nbsp;Drupal Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;OsCommerce Development</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;ZenCart Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp; &nbsp;X-Cart Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Wordpress Development</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;CS-Cart Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp; &nbsp;Cake Php Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Customized Software</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Web Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp; &nbsp;Java Application Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Software Development</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Enterprise Java Development</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp; &nbsp;Java Migration</td>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Custom Java Development</td>
                    </tr>
                    <tr>
                        <td><span itemscope itemtype="http://schema.org/Service" class="fa fa-chevron-circle-right"></span>&nbsp;&nbsp;Java Professional Services</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Expertise:</h2> <span>We hold expertise in:</span>
    <div class="tech-list">
        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <?php

            $techname ="services/web-ms/";
            $techurl = "../images/services/web-ms/";
            tech_image($techname,$techurl,$dir_img_path);
            ?>
        </div>
        <h3>Open Source Technologies:</h3>
        <?php

        $techname ="services/Opensource/";
        $techurl = "../images/services/Opensource/";
        tech_image($techname,$techurl,$dir_img_path);
        ?>
    </div>
</div>
<br>
<br>