<div class="aboutbody who_we_are">
    <div class="bground1">
        <div id="page-wrap" class="aboutpage">
            <strong> WHO WE ARE? </strong>
            <ul class="who_we_are_content">
                <br>
                <li><span class="fa fa-chevron-circle-right"></span> Shaligram Infotech is built by multidisciplinary team of visionaries with the profound business insight and clear vision of becoming the most eminent software development company in global marketplace.</li>
                <li><span class="fa fa-chevron-circle-right"></span> Our objective is to ensure that our technology delivery helps our clients continue driving efficiencies into their businesses.</li>
                <li><span class="fa fa-chevron-circle-right"></span> Our team is consisting of software engineers who have the knowledge on latest tools, frameworks and platforms and hands-on experience of intercontinental projects to deliver quality solutions within your expected time line.</li>
                <li><span class="fa fa-chevron-circle-right"></span> Our prime focus is on our business partners and create the unparalleled comfort level while working on their projects.</li>
                <li><span class="fa fa-chevron-circle-right"></span> Contact us for NO COST requirement analysis and POC for your projects.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="panel shadow">
            <div class="panel-heading">
                <h2>Vision</h2>
            </div>
            <div class="panel-body">
                <p style="text-align: justify;">We at Shaligram Infotech have a vision of becoming the most eminent software development company with the highest customer life cycle for offshore service seekers globally. </p>
                <p style="text-align: justify;"> Shaligram Infotech services have to define the best "collaborative experience" for our clients and solution users. </p>
            </div>
        </div>
    </div>
    <!-- Mission Section -->
    <div class="col-md-12">
        <div class="panel shadow">
            <div class="panel-heading">
                <h2>Mission</h2>
            </div>
            <div class="panel-body">
                <p style="text-align: justify; ">We at Shaligram Infotech are focused on creating the greatest pull for our services and cost optimization for our clients. </p>
                <p style="text-align: justify; ">Our internal and external processes are focused on creating the perfect work environment for our techno-functional consultants as well as for the fresh engineering graduates.</p>
                <p style="text-align: justify; ">Our continuous improvement processes are focused on optimizing skills of our people on the latest tools, technologies, frameworks and platforms so as to deliver our services with the maximum value add to our offshore and domestic clients. </p>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Call to Action Section -->
</div>